<div style="margin-left:20%;width:50%">
<h2 style="text-align:center;">Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div><%= f.input :email %></div>

  <div><%= f.input :password %></div>
  <% if devise_mapping.rememberable? -%>
    <div style="text-align:center;"><%= f.input :remember_me, as: :boolean %></div>
  <% end -%>

  <div class="form-actions"><%= f.submit "Sign in", class: "btn btn-primary" %></div>
<% end %>
<p style="text-align:center">
<%= render "devise/shared/links" %>
</p>
</div>
