
   <div class="navbar">
   <p class="text-center footer">          
	  <%= link_to 'Home',  root_path %>&nbsp;|&nbsp;
	  <%= link_to 'About',  about_path %>&nbsp;|&nbsp;
	  <%= link_to 'FAQ',  "/about/faq" %>&nbsp;|&nbsp;
	  <%= link_to 'Become an Expert',  "/become-an-expert" %>&nbsp;|&nbsp;
	  <%= link_to 'Legal',  "/about/legal" %>
	</p>
	<p class="text-center copyright">2013 Lorious</p>
</div>