<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">Lorious</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li><%= link_to 'Home',  root_path %></li>
                        <li><%= link_to 'About',  about_path %></li>
                        <li><%= link_to 'Contact',  "about/contact" %></li>
                        <li><%= link_to 'FAQ',  "about/faq" %></li>
                        <li><%= link_to 'Become an Expert',  "become-an-expert" %></li>
                        <li><%= link_to 'Legal',  "about/legal" %></li>
                    </ul>
                    <ul class="nav pull-right">
                                <li><%= link_to 'Signup',  '#' %></li>
                                <li><%= link_to 'Login',  '#' %></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
